body {
    margin: 0px;
}
main {
    maring:0px;
}
.head {
    font-size: 20px;
    text-align: center ;
    background-color: black;
    color: white;
    font-family: impact;
    letter-spacing: 10px;
    border: 1px solid green;
}

.head:hover {
    font-size: 30px;
    background-color: rgb(3, 140, 145);
    display: block;
}
.nav ul {
    list-style-type: none;
    background-color: rgb(102, 102, 102);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.nav a {
    color: white;
    text-decoration: none;
    font-family: impact;
    padding: 8px;
    display: block;
    text-align: center;
}
.nav a:hover {
    background-color: rgb(208, 112, 231);
    
}

.nav li {
    float: left;
}